<div>
    <tabset>
        <tab ng-repeat="tab in codeAreaMainCtrl.tabs" active ="tab.active"  ng-init="tabCtrl.tab=tab">
            <tab-heading>
                <span ng-hide="tab.editing" ng-dblclick="tabCtrl.editTab()">{{tab.title}}</span>
                <input ng-show="tab.editing" ng-model="tab.title" ng-blur="tabCtrl.doneEditing()" autofocus />
                <button ng-click="codeAreaMainCtrl.removeTab($index,$event)" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
            </tab-heading>
            <section>
                <div class="editor" ui-ace="tabCtrl.aceOption"  ng-model="tab.content"> </div>
            </section>
        </tab>
        <tab ng-click="codeAreaMainCtrl.addTab()">
            <tab-heading>
                <span  class="glyphicon glyphicon-plus"></span>
            </tab-heading>
        </tab>
    </tabset>
</div>